* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
input {
  all: unset;
  box-sizing: border-box;
}

/* setting */
body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--h4);
  background-color: white;
  color: var(--default-black);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* elements */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__container {
  width: 100vw;
  justify-content: space-between;
  padding: var(--column-space) var(--row-space);
  flex-direction: row;
}
.button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.button:hover {
  background-color: var(--lightest-blue);
}
.icon {
  text-decoration: none;
  color: var(--main-blue);
  font-size: 28px;
}

.profile__image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 8px;
  border: var(--main-border);
}

/* App */
.app__container {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}
.app__spinner {
  color: var(--main-blue);
  font-size: 60px;
}
