* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
input {
  all: unset;
  box-sizing: border-box;
}

/* setting */
body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  background-color: white;
  color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* elements */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__container {
  width: 100vw;
  justify-content: space-between;
  padding: 4px 36px;
  flex-direction: row;
}
.button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.icon {
  text-decoration: none;
  color: var(--main-blue);
  font-size: 24px;
}

/* App */
.app__container {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}
.app__spinner {
  color: var(--main-blue);
  font-size: 60px;
}
