@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.auth__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.auth__container > div {
  width: 50vw;
  height: 500px;
  padding: 20px 20px;
}

/* auth__content */
.auth__content {
  background-color: var(--light-blue);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}
.auth__content__headers {
  position: relative;
  box-sizing: content-box;
}
.auth__content__headers::after {
  font-family: FontAwesome;
  content: "\f099";
  font-size: 120vh;
  z-index: -1;
  position: absolute;
  top: 0%;
  left: 70%;
  margin: -0.48em -0.42em;
  color: var(--main-blue);
}
.auth__content h2 {
  z-index: 2;
  position: relative;
  margin-bottom: 40px;
  font-weight: 600;
}
.auth__content h2 span {
  margin-left: 20px;
  line-height: 32px;
}

/* auth__header */
.auth__main {
  flex-direction: column;
  background-color: white;
}
.auth__header__logo {
  color: var(--main-blue);
  font-size: 40px;
  margin: 20px 0;
}
.auth__header__text {
  width: 360px;
  text-align: left;
  font-weight: 600;
  margin-bottom: 16px;
}
.auth__header h1 {
  margin-bottom: 40px;
  line-height: 40px;
}

.auth__copyright {
  width: 100vw;
  height: 28px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: white;
  text-align: center;
  z-index: 2;
}

.auth__toggle {
  height: 0;
  color: var(--main-blue);
  cursor: pointer;
  display: block;
  font-size: var(--h3);
  text-decoration: underline;
  text-align: center;
}

/* width < 800px */
@media screen and (max-width: 800px) {
  .auth__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .auth__container > div {
    width: 100vw;
  }
}
/* width > 800px height > 528px */
@media screen and (min-width: 800px) and (min-height: 528px) {
  .auth__container > div {
    height: 100vh;
    transform: translateY(-14px);
  }
  .auth__copyright {
    position: fixed;
    bottom: 0;
  }
}

/* width < 800px and height < 528px */
@media screen and (max-width: 800px) and (max-height: 478px) {
  .auth__container > div {
    height: 478px;
  }
  .auth__main {
    margin-top: 0px;
  }
  .auth__copyright {
    position: unset;
    margin-top: -14px;
  }
}
/* width < 800px and height > 528px */
@media screen and (max-width: 800px) and (min-height: 478px) {
  .auth__container > div {
  }
  .auth__main {
    margin-top: -11px;
  }
}
