.auth__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* div first */
.auth__content {
  background-color: var(--light-blue);
  color: white;
}
.auth__content > h2 {
  margin-right: 4px;
}

/* div second */
.auth__header {
  flex-direction: column;
}
.auth__header__logo {
  color: var(--main-blue);
  font-size: 48px;
  margin-top: 48px;
  margin-bottom: 72px;
}
.auth__header__text {
  width: 40vw;
  text-align: left;
  font-weight: 600;
  margin-bottom: 16px;
}
.auth__header h1 {
  margin-bottom: 36px;
  line-height: 30px;
}

.auth__copyright {
  width: 100vw;
  position: fixed;
  transform: translate(-50%, 0);
  bottom: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: white;
  text-align: center;
}

.auth__toggle {
  height: 0;
  color: var(--main-blue);
  cursor: pointer;
  display: block;
  font-size: 14px;
  text-decoration: underline;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .auth__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .auth__input {
    width: 80vw;
  }
  .auth__copyright {
    left: 50%;
  }
}
