.home__screen {
  width: 87vw;
  display: flex;
  margin-left: 14vw;
}
.home__container {
}
.home__title {
  width: 87vw;
  padding: 16px var(--default-space);
  font-weight: 800;
  border-bottom: var(--main-border);
  position: fixed;
  background-color: white;
}

/* home__side */
.home__side {
  visibility: hidden;
  width: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  background-color: white;
  border-left: var(--main-border);
}
.home__side__trends {
  background-color: var(--lighter-gray);
}

/* @media */
@media screen and (min-width: 700px) {
  .home__container,
  .home__title,
  .tweet__text__container {
    width: 600px;
  }
  .tweetFactory__input__text {
    width: 470px;
  }

  .tweet__text__container {
    width: 500px;
    color: blue;
  }
}
@media screen and (min-width: 1000px) {
  .nav__container {
    width: 26vw;
  }
  .home__container {
    width: 46vw;
    margin-left: 13.5vw;
  }
  .home__title {
    width: 46vw;
  }
  .home__side {
    width: 28vw;
    visibility: visible;
  }
}
