@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

/* conponents */
@import "css/App.css";
@import "css/Auth.css";
@import "css/Tweet.css";
@import "css/TweetFactory.css";
@import "css/Navigation.css";
@import "css/Home.css";
@import "css/Header.css";

/* variables */
:root {
  --main-blue: rgba(4, 170, 255, 1);
  --light-blue: rgba(4, 170, 255, 0.5);
  --lighter-blue: rgba(4, 170, 255, 0.2);
  --dark-blue: rgb(3, 146, 218);

  --light-gray: rgba(211, 211, 211, 0.1);
  --dark-gray: rgba(211, 211, 211, 0.5);

  --main-border: 1px solid var(--dark-gray);

  --transition-delay: 0.25s;
}

/* scroll */
body::-webkit-scrollbar {
  width: 2px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--light-blue);
}
body::-webkit-scrollbar-track {
  background-color: white;
}
/* selection */
::selection {
  background-color: var(--main-blue);
  color: white;
}
/* highlighter */
.highlighter {
  background: linear-gradient(to top, var(--main-blue) 50%, transparent 50%);
}
