.tweetFactory__container {
  display: flex;
  flex-direction: row;
  padding: var(--default-space);
  border-bottom: var(--main-border);
}
.tweetFactory__container > img {
  margin-right: 12px;
}
.tweetFactory__input {
  display: flex;
  flex-direction: column;
}
.tweetFactory__input > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* column 1 */
/* column 2 */
.tweetFactory__input div:nth-child(3) {
  width: 350px;
  padding-top: var(--column-space);
  border-top: var(--main-border);
}

/* text */
.tweetFactory__input__text {
  width: 350px;
  height: 30px;
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: var(--column-space);
}
.tweetFactory__input__text::placeholder {
  font-size: 20px;
  color: var(--darkest-gray);
  font-weight: 300;
}

/* attachment */
.tweetFactory__attachment {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  border: var(--main-border);
}
.tweetFactory__attachment__button {
  position: absolute;
  right: 4vw;
  border: none;
  margin: 6px 22px;
  outline: none;
  cursor: pointer;
  background-color: var(--darker-gray);
}
.tweetFactory__attachment__button:hover {
  background-color: var(--darkest-gray);
}
.tweetFactory__attachment__button .icon {
  color: white;
}

/* buttons */
.tweetFactory__input__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tweetFactory__input__label {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}
.tweetFactory__input__file {
  width: 0;
  height: 0;
  overflow: hidden;
}
.tweetFactory__input__button {
  all: unset;
  width: 70px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background-color: var(--main-blue);
  cursor: pointer;
}
.tweetFactory__input__button:hover {
  background-color: var(--dark-blue);
}

.tweetFactory__line {
  width: 88vw;
  height: 10px;
  background-color: var(--lighter-gray);
  border-bottom: var(--main-border);
}
