.tweetFactory__container {
  display: flex;
  flex-direction: row;
  padding: var(--column-space) 0;
  border-bottom: var(--main-border);
}
.tweetFactory__column {
  display: flex;
  flex-direction: column;
}
.tweetFactory__column > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--column-space);
}

/* column 1 */
/* column 2 */
.tweetFactory__column:nth-child(2) {
  width: 80vw;
}

/* attachment */
.tweet__attachment {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  border: var(--main-border);
}
.tweet__attachment__button {
  position: absolute;
  right: 4vw;
  border: none;
  margin: 6px 22px;
  outline: none;
  cursor: pointer;
  background-color: var(--darker-gray);
}
.tweet__attachment__button:hover {
  background-color: var(--darkest-gray);
}
.tweet__attachment__button .icon {
  color: white;
}

/* text */
.tweet__input__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tweet__input__text {
  width: 200px;
  height: 30px;
  padding: 4px;
  font-size: 20px;
}
.tweet__input__text::placeholder {
  font-size: 20px;
  color: var(--darker-gray);
}

/* buttons */
.tweet__input__label {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}
.tweet__input__file {
  width: 0;
  height: 0;
  overflow: hidden;
}
.tweet__input__button {
  all: unset;
  width: 70px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background-color: var(--main-blue);
  cursor: pointer;
}
.tweet__input__button:hover {
  background-color: var(--dark-blue);
}
